server {
    listen 80;
    server_name {{ nginx_server_name }};

    location / {
        root {{ nginx_document_root }};
        index index.html index.htm;

     
        deny all;

    
        {% for ip in allowed_ips %}
        allow {{ ip }};
        {% endfor %}
    }
}
